#hero{
    display: grid;
    grid-template-columns: 1.9fr 1.1fr;
    height: calc(100vh - 55px);
}
#hero-img{
    height: calc((100vh - 55px) / 100vh * 87vh);
    margin: auto;
    display: block;
    border-radius: 20px;
    image-orientation: from-image;
    transition: .5s;
}
#hero-img:hover{
    transform: scale(.98);
    box-shadow: 0px 0px 30px rgba(var(--fg-rgb), .15);
}
#hero-img-div{
    margin: auto;
    animation: slide-from-left-2 .8s;
}

#hero-content-wrapper{
    margin: auto;
    width: 90%;
    height: 85%;
    display: grid;
    grid-template-rows: 1fr 100px;
    animation: slide-from-left .5s;
}
#hero-content{
    margin: auto;
}
#hero-title{
    font-size: 45px;
    margin-top: 10px;
}
#hero-title span{
    color: rgba(var(--c2-rgb), 1);
    text-decoration: underline;
}
#hero-text{
    font-size: 16px;
}
#hero-logo-div{
    display: inline-grid;
    grid-template-columns: max-content max-content;
    grid-gap: 10px;
    border: solid 3px var(--c1);
    padding: 7px 14px;
    border-radius: 100px;
    cursor: default;
}
#hero-logo{
    width: 25px;
    margin: auto;
    display: block;
}
#hero-logo-title{
    font-size: 20px;
    margin: auto;
    font-weight: 900;
}
#hero-cta{
    display: grid;
}
#cta-link{
    display: inline-block;
    margin: auto;
    cursor: pointer;
}
#cta-btn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    display: grid;
    line-height: 1;
    margin: auto;
    background: var(--c2);
    cursor: pointer;
    animation: cta-animation 2s infinite cubic-bezier(.63,.76,1,.59);
}
#cta-img{
    width: 20px;
}

#about{
    display: grid;
    min-height: 100vh;
}
#about-content-div{
    margin: auto;
    display: grid;
    /* height: 100%; */
    /* grid-template-rows: 1fr 3fr; */
}
#about-content{
    text-align: center;
    width: 90%;
    margin: auto;
    font-size: 18px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}
.abt-card-icon{
    filter: invert(1);
    width: 80px;
}
.about-card{
    width: 80%;
    /* box-shadow: 0px 0px 30px rgba(0,0,0,.6); */
    background: rgba(var(--c1-rgb), .2);
    padding: 30px 20px;
    border-radius: 20px;
    z-index: 1;
    margin: 0 auto;
    display: grid;
}
.about-card-title{
    margin: auto;
    margin-top: 20px;
    font-size: 25px;
}
.about-text{
    width: calc(80% + 50px);
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 17px;
}
#about-text-res{
    display: none;
}
#contact{
    display: grid;
    /* height: 100vh; */
    width: 100%;
}
#contact-content-div{
    margin: auto;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 4fr;
}
#contact-title-div{
    margin:auto;
}
#contact-content{
    display: grid;
}
#contact-cards{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    text-align: center;
    margin: auto;
}
.contact-card{
    text-align: center;
    background: rgba(var(--c1-rgb), .2);
    border-radius: 20px;
    margin: auto;
    width: 90%;
}
.contact-card-name{
    margin-bottom: 5px;
    font-size: 22px;
}
.contact-card-post{
    margin: 0px;
    font-size: 17px;
    color: rgba(var(--fg-rgb), .8);
}
.contact-card-email-icon{
    filter: invert(1);
    width: 20px;
    padding-left: 7.5px;
    margin: auto;
}
.contact-card-email{
    font-size: 17px;
    margin: 0px;
    font-weight: 400;
    border-right: solid 1.5px rgba(var(--fg-rgb), .5);
    padding-right: 7.5px;
}
.contact-email-field{
    border: solid 1px rgba(var(--fg-rgb), .3);
    display: inline-grid;
    grid-template-columns: max-content max-content;
    /* grid-gap: 10px; */
    padding: 10px 20px;
    border-radius: 999px;
    margin-top: 25px;
    margin-bottom: 20px;
    cursor: pointer;
    text-decoration: none;
    background: linear-gradient(135deg, rgba(var(--c5-rgb), .3) 50%, rgba(255, 255, 255, 0) 50% 100%);
    background-size:300%;
    background-position-x: 100%;
    transition: .3s;
}
.contact-email-field:hover{
    background-position-x: 0%;
}


@media screen and (max-width: 1233px){
    #hero-title{
        font-size: 40px;
        /* margin-top: 10px; */
    }
}
@media screen and (max-width: 1100px){
    #hero-content-wrapper{
        grid-template-rows: 1fr 70px;
    }
    #hero-text{
        margin-bottom: 0px;
    }
    .about-card-title{
        font-size: 23px;
    }
    .abt-card-icon{
        width: 75px;
    }
    .about-text{
        font-size: 16px;
    }
    
}
@media screen and (max-width: 1000px){
    #hero-img{
        height: calc((100vh - 55px) / 100vh * 90vh);
    }
    .contact-card{
        width: 100%;
    }
    .about-card{
        width: 85%;
    }
    
}
@media screen and (max-width: 950px){
    #hero-img{
        height: auto;
        width: 90%;
    }
    #about-content{
        width: 97%;
    }
    .contact-card-email{
        font-size: 16px;
    }
    .contact-card-email-icon{
        width: 19px;
    }
    #auth-popup{
        width: 45vw;
    }
}
@media screen and (max-width: 920px){
    #about-content{
        width: 95%;
    }
}
@media screen and (max-width: 900px){
    #hero-title{
        font-size: 37px;
    }
    #hero-text{
        font-size: 15px;
    }
    .contact-card-name{
        font-size: 20px;
    }
    .contact-card-post{
        font-size: 15px;
    }
    .contact-card-email{
        font-size: 15px;
    }
    .contact-email-field{
        padding: 9px 15px;
    }
    #contact-cards{
        grid-gap: 5px;
    }
    .about-card-title{
        font-size: 21.5px;
    }
}
@media screen and (max-width: 850px){
    #hero-title{
        font-size: 35px;
    }
    #contact-cards{
        grid-template-columns: repeat(2, 1fr);
        height: auto;
    }
    #contact{
        margin-bottom: 20px;
    }
    .about-card-title{
        font-size: 20px;
    }
    .about-text{
        font-size: 15px;
    }

}
@media screen and (max-width: 800px){
    #hero-content-wrapper{
        grid-template-rows: max-content 80px;
        margin: auto;
        height: fit-content;
    }
    #hero-content{
        padding: 20px 0px;
    }
    #hero-title{
        font-size: 30px;
    }
    #hero-img{
        width: 100%;
    }
    #cta-btn{
        width: 35px;
        height: 35px;
    }
    #hero-logo-div{
        border-width: 2px;
        padding: 6px 12px;
    }
    #hero-logo{
        width: 22px;
        margin: auto;
        display: block;
    }
    #hero-logo-title{
        font-size: 17px;
        margin: auto;
        font-weight: 700;
    }
    #about-content{
        width: 97%;
    }
    .about-card{
        width: 90%;
        padding: 25px 15px;
    }
}
@media screen and (max-width: 750px){
    #hero-img-div{
        display: none;
    }
    #hero-content-wrapper{
        grid-column: 1 / 3;
    }
    #hero-content{
        text-align: center;
    }
    body{
        background: 
            linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
            url(../imgs/hero-responsive.jpg),
            var(--bg);
        background-repeat: no-repeat;
        background-size: 100vw 99.9vh;
    }
    #about-content{
        width: 80vw;
        /* grid-template-columns: repeat(20, 4vw); */
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 12px;
        grid-column-gap: 0px;
    }
    .about-text{
        grid-column: 2;
        grid-row-start: 1;
        margin: aut0;
        text-align: left;
        font-size: 15px;
        text-align: justify;
        display: none;
    }
    #about-text-res{
        display: block;
        text-align: center;
        font-size: 16px;
        grid-column: 1 / 4;
        letter-spacing: .2px;
        word-spacing: 2px;
        line-height: 20px;
        width: 90%;
        margin: auto;
        margin-top: 15px;
    }
    .about-card{
        padding: 15px;
        width: 105px;  
        height: 105px;
        border-radius: 20px;
    }
    .abt-card-icon{
        display: block;
        margin: auto;
    }
    .about-card:nth-of-type(1){
        grid-column: 1;
    }
    .about-card:nth-of-type(2){
        grid-column: 2;
    }
    .about-card:nth-of-type(3){
        grid-column: 3;
    }
    .about-card-title{
        font-size: 20px;
        margin: 15px;
        display: none;
    }
    /* .about-text:nth-of-type(1){
        grid-row: 1;
        grid-column: 6 / 16;
    }
    .about-text:nth-of-type(2){
        grid-row: 2;
        grid-column: 1 / 8;
    }
    .about-text:nth-of-type(3){
        grid-row: 2;
        grid-column: 14 / 21;
    } */

}
@media screen and (max-width: 650px){
    #about-content{
        grid-row-gap: 9px;
    }
    #auth-popup{
        width: 68vw;
    }
}
@media screen and (max-width: 600px){
    #contact-content-div{
        grid-template-rows: 1fr;
    }
    #contact-title-div{
        margin-bottom: 10px;
    }
    #contact-cards{
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
    }
    .contact-card{
        width: 60%;
    }
    #footer-bg{
        height: 500px;
    }
}
@media screen and (max-width: 550px){
    /* #about{
        height: auto;
        margin-bottom: 25px;
        padding-top: 25px;
    }
    #about-content{
        grid-template-columns: 1fr;
        grid-row-gap: 15px;
    }
    .about-card{
        width: 80%;
        grid-column: 1;
    }
    .about-card:nth-of-type(3){
        grid-column: 1;
    } */
    .about-card{
        padding: 10px;
        width: 95px;  
        height: 95px;
        border-radius: 20px;
    }
    .abt-card-icon{
        width: 65px;
    }
}
@media screen and (max-width: 500px){
    .contact-card{
        width: 75%;
    }
}
@media screen and (max-width: 450px){
    #about-content{
        width: 90vw;
    }
    .about-card{
        padding: 10px;
        width: 90px;  
        height: 90px;
        border-radius: 20px;
    }
    .abt-card-icon{
        width: 60px;
    }
}
@media screen and (max-width: 375px){
    .about-card{
        width: 85px;
        height: 85px;
    }
    .abt-card-icon{
        width: 55px;
    }
    #about-content{
        width: 95vw;
    }
    .contact-card{
        width: 85%;
    }
}