#navbar{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    height: 45px;
    animation: slide-from-top 1.2s;
}
#nav-title-div{
    display: grid;
    grid-template-columns: max-content max-content;
}
#nav-logo{
    width: 40px;
    margin: auto 20px;
    grid-column: 1;
    padding: 0px;
}
#nav-title{
    grid-column: 2;
    color: var(--fg);
    text-align: left;
    font-weight: 900;
    font-size: 25px;
    margin: auto 0px;
}
.nav-item{
    margin: auto;
}
.nav-item:nth-child(2){
    grid-column: 4;
}
.nav-item:nth-child(3){
    grid-column: 5;
}
.nav-item:nth-child(4){
    grid-column: 6;
}
.nav-item:nth-child(5){
    grid-column: 7;
}
.nav-item:nth-child(6){
    grid-column: 8;
}
.nav-link{
    color: var(--fg);
    text-decoration: none;
    padding: 0px;
    font-weight: 500;
    display: inline-block;
}
.nav-link-underline{
    height: 1px;
    width: 0px;
    background: var(--c4);
    margin: 0 auto;
    transition: .2s;
}
.nav-link-txt{
    padding: 0px;
    margin: 0px;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
}
.nav-item:hover .nav-link-underline{
    width: 100%;
}
#login-btn{
    padding: 6px 20px;
    border: solid 1px var(--fg);
    border-radius: 20px;
    background: none;
    font-size: 14px;
    color: var(--fg);
    cursor: pointer;
    transition: .2s;
}
#login-btn:hover{
    background: var(--c4);
    color: var(--bg);
    border-color: var(--c4);
}
#login-a, #register-a{
    display: block;
    margin: auto;
}
#register-icon-btn, #login-icon-btn{
    width: 19px;
    margin: auto;
    display: block;
    filter: invert(1);
    transition: .2s;
    display: none;
}
#register-icon-btn{
    width: 26px;
}
#login-icon-btn:hover{
    transform: translateX(5px);
}
#register-icon-btn:hover{
    transform: scale(1.1);
}
#register-btn{
    background: var(--fg);
    padding: 6px 20px;
    border: solid 1px var(--fg);
    border-radius: 20px;
    color: var(--bg);
    cursor: pointer;
    transition: .2s;
}
#register-btn:hover{
    background: var(--c4);
    color: var(--bg);
    border-color: var(--c4);
}


@media screen and (max-width: 900px){
    #navbar{
        grid-template-columns: repeat(7, 1fr);
    }
    .nav-item:nth-child(2){
        grid-column: 3;
    }
    .nav-item:nth-child(3){
        grid-column: 4;
    }
    .nav-item:nth-child(4){
        grid-column: 5;
    }
    .nav-item:nth-child(5){
        grid-column: 6;
    }
    .nav-item:nth-child(6){
        grid-column: 7;
    }
}

@media screen and (max-width: 700px){
    #login-btn, #register-btn{
        display: none;
    }
    #login-icon-btn, #register-icon-btn{
        display: block;
    }
}

@media screen and (max-width: 500px){
    #nav-title{
        display: none;
    }
    #navbar{
        grid-template-columns: max-content repeat(5, 1fr);
    }
    .nav-item:nth-child(2){
        grid-column: 2;
    }
    .nav-item:nth-child(3){
        grid-column: 3;
    }
    .nav-item:nth-child(4){
        grid-column: 4;
    }
    .nav-item:nth-child(5){
        grid-column: 5;
    }
    .nav-item:nth-child(6){
        grid-column: 6;
    }
}