@font-face{
    font-family: Urbanist;
    src: url(./fonts/Urbanist-VariableFont_wght.ttf);
}

/* custom style classes */
.user-select-off{
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}
.icon-img{
    margin: auto;
    display: block;
    line-height: 1;
    -webkit-user-drag: none;
}


::-webkit-scrollbar{
    width: 6px;
}
::-webkit-scrollbar-thumb{
    background: var(--c2);
    border-radius: 100px;
}

:root{
    --bg: #1c0b19;
    --fg: #ffffff;
    --c1: #086375;
    --c2: #1dd3b0;
    --c3: #affc41;
    --c4: #b2ff9e; 
    --c5: #DAC4F7;
    --bg-rgb: 28, 11, 25;
    --fg-rgb: 255, 255, 255;
    --c1-rgb: 8, 99, 117;
    --c2-rgb:  29, 211, 176;
    --c3-rgb: 175, 252, 65;
    --c4-rgb: 178, 255, 158;
    --c5-rgb: 218, 196, 247;
}

*{
    font-family: Urbanist;
    color: white;
}
html{
    scroll-behavior: smooth;
}
body{
    background: var(--bg);
}
img, a, button{
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
img{
    -webkit-user-drag: none;
}
#navbar{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    height: 45px;
    animation: slide-from-top 1.2s;
}
#nav-title-div{
    display: grid;
    grid-template-columns: max-content max-content;
}
#nav-logo{
    width: 40px;
    margin: auto 20px;
    grid-column: 1;
    padding: 0px;
}
#nav-title{
    grid-column: 2;
    color: var(--fg);
    text-align: left;
    font-weight: 900;
    font-size: 25px;
    margin: auto 0px;
}
.nav-item{
    margin: auto;
}
.nav-item:nth-child(2){
    grid-column: 4;
}
.nav-item:nth-child(3){
    grid-column: 5;
}
.nav-item:nth-child(4){
    grid-column: 6;
}
.nav-item:nth-child(5){
    grid-column: 7;
}
.nav-item:nth-child(6){
    grid-column: 8;
}
.nav-link{
    color: var(--fg);
    text-decoration: none;
    padding: 0px;
    font-weight: 500;
    display: inline-block;
}
.nav-link-underline{
    height: 1px;
    width: 0px;
    background: var(--c4);
    margin: 0 auto;
    transition: .2s;
}
.nav-link-txt{
    padding: 0px;
    margin: 0px;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
}
.nav-item:hover .nav-link-underline{
    width: 100%;
}
#login-btn{
    padding: 6px 20px;
    border: solid 1px var(--fg);
    border-radius: 20px;
    background: none;
    font-size: 14px;
    color: var(--fg);
    cursor: pointer;
    transition: .2s;
}
#login-btn:hover{
    background: var(--c4);
    color: var(--bg);
    border-color: var(--c4);
}
#login-a, #register-a{
    display: block;
    margin: auto;
}
#register-icon-btn, #login-icon-btn{
    width: 19px;
    margin: auto;
    display: block;
    filter: invert(1);
    transition: .2s;
    display: none;
}
#register-icon-btn{
    width: 26px;
}
#login-icon-btn:hover{
    transform: translateX(5px);
}
#register-icon-btn:hover{
    transform: scale(1.1);
}
#register-btn{
    background: var(--fg);
    padding: 6px 20px;
    border: solid 1px var(--fg);
    border-radius: 20px;
    color: var(--bg);
    cursor: pointer;
    transition: .2s;
}
#register-btn:hover{
    background: var(--c4);
    color: var(--bg);
    border-color: var(--c4);
}

#hero{
    display: grid;
    grid-template-columns: 1.9fr 1.1fr;
    height: calc(100vh - 55px);
}
#hero-img{
    width: 80%;
    margin: auto;
    display: block;
    border-radius: 20px;
    image-orientation: from-image;
    transition: .5s;
}
#hero-img:hover{
    transform: scale(.98);
    box-shadow: 0px 0px 30px rgba(var(--fg-rgb), .15);
}
#hero-img-div{
    margin: auto;
    animation: slide-from-left-2 .8s;
}

#hero-content-wrapper{
    margin: auto;
    width: 90%;
    height: 85%;
    display: grid;
    grid-template-rows: 1fr 100px;
    animation: slide-from-left .5s;
}
#hero-content{
    margin: auto;
}
#hero-title{
    font-size: 45px;
    margin-top: 10px;
}
#hero-title span{
    color: rgba(var(--c2-rgb), 1);
    text-decoration: underline;
}
#hero-text{
    font-size: 16px;
}
#hero-logo-div{
    display: inline-grid;
    grid-template-columns: max-content max-content;
    grid-gap: 10px;
    border: solid 3px var(--c1);
    padding: 7px 14px;
    border-radius: 100px;
    cursor: default;
}
#hero-logo{
    width: 25px;
    margin: auto;
    display: block;
}
#hero-logo-title{
    font-size: 20px;
    margin: auto;
    font-weight: 900;
}
#hero-cta{
    display: grid;
}
#cta-link{
    display: inline-block;
    margin: auto;
    cursor: pointer;
}
#cta-btn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    display: grid;
    line-height: 1;
    margin: auto;
    background: var(--c2);
    cursor: pointer;
    animation: cta-animation 2s infinite cubic-bezier(.63,.76,1,.59);
}
#cta-img{
    width: 20px;
}


#auth-popup-wrapper{
    position: fixed;
    display: grid;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 100;
    display: none;
}
#auth-popup{
    margin: auto;
    background: var(--c1);
    border-radius: 20px;
    width: 32vw;
    max-height: 90%;
    transition: .2s;
    animation: expand .3s;
}
#auth-popup label{
    display: block;
    font-size: 17px;
    margin: 0px;
    margin-top: 15px;
    margin-bottom: 3px;
}
#login-popup{
    display: none;
}
#register-popup{
    display: none;
    padding: 30px;
}
#register-user-type{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-bottom: 20px;
}
#register-utype-label{
    font-size: 17px;
    padding: 0px;
    margin: auto 0;
}
.register-type{
    font-size: 17px;
    padding: 7px 5px;
    border-radius: 100px;
    border: none;
    background: var(--c2);
    font-weight: 500;
    cursor: pointer;
    transition: .2s;
}
.register-type:hover{
    color: var(--c2);
    background: rgba(var(--bg-rgb), .7);
}
.register-type-selected{
    color: var(--c2);
    background: var(--bg);
}
.auth-input{
    padding: 7px 15px;
    font-size: 17px;
    color: black;
    border: none;
    outline: none;
    border-radius: 100px;
    width: 90%;
    margin: 0px;
}
.auth-button{
    padding: 12px;
    font-size: 17px;
    margin: auto;
    text-align: center;
    display: block;
    margin-top: 25px;
    width: 70%;
    border: none;
    font-weight: 500;
    cursor: pointer;
    border-radius: 999px;
    background: rgb(221, 255, 218);
    display: grid;
    transition: .2s;
}
.auth-button:hover{
    background: rgb(179, 255, 170);
}
.auth-btn-text{
    color: black;
    margin: auto;
    font-size: 17px;
}
.auth-btn-img{
    width: 17px;
}
.auth-button:hover .auth-btn-content{
    transform: translateX(5px);
}
.auth-btn-content{
    display: grid;
    grid-template-columns: max-content max-content;
    margin: auto;
    grid-gap: 5px;
    line-height: 1;
    transition: .15s;
}
#register-title{
    margin: 5px;
    margin-bottom: 30px;
    margin-left: 0px;
    font-size: 35px;
}
#register-t, #register-s{
    display: none;
    margin: auto;
}
#register-t-subject, #register-s-grade{
    width: 98.5%;
    font-size: 17px;
}
#register-t-subject option, #register-s-grade option{
    color: black;
}
#login-popup{
    margin: 30px;
}
#login-title{
    margin: 5px;
    margin-bottom: 30px;
    margin-left: 0px;
    font-size: 35px;
}
#popup-close-btn{
    position: fixed;
    top: 25px;
    right: 15px;
    cursor: pointer;
}
.close-line{
    width: 25px;
    height: 4px;
    background: var(--fg);
    transform: rotate(45deg);
    border-radius: 99px;
}
.close-line:nth-child(2){
    transform: translateY(-4px) rotate(-45deg);
}

.section-title-div{
    display: inline-block;
    margin: auto;
    margin-bottom: 20px;
}
.section-title{
    text-align: center;
    font-size: 35px;
    color: rgba(var(--fg-rgb), .9);
    margin: 0px;
}
.section-title-underline{
    width: 100%;
    height: 3px;
    border-radius: 100px;
    background: var(--c3);
    margin-bottom: 15px;
}

#about{
    display: grid;
    height: 100vh;
}
#about-content-div{
    margin: auto;
    display: grid;
    /* height: 100%; */
    /* grid-template-rows: 1fr 3fr; */
}
#about-content{
    text-align: center;
    width: 90%;
    margin: auto;
    font-size: 18px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}
.abt-card-icon{
    filter: invert(1);
    width: 80px;
}
.about-card{
    width: 80%;
    /* box-shadow: 0px 0px 30px rgba(0,0,0,.6); */
    background: rgba(var(--c1-rgb), .2);
    padding: 30px 20px;
    border-radius: 20px;
    z-index: 1;
    margin: 0 auto
}
.about-card-title{
    margin: auto;
    margin-top: 20px;
    font-size: 25px;
}
.about-text{
    width: calc(80% + 50px);
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 17px;
}

#contact{
    display: grid;
    /* height: 100vh; */
    width: 100%;
}
#contact-content-div{
    margin: auto;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 4fr;
}
#contact-title-div{
    margin:auto;
}
#contact-content{
    display: grid;
}
#contact-cards{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    text-align: center;
    margin: auto;
}
.contact-card{
    text-align: center;
    background: rgba(var(--c1-rgb), .2);
    border-radius: 20px;
    margin: auto;
    width: 90%;
}
.contact-card-name{
    margin-bottom: 5px;
    font-size: 22px;
}
.contact-card-post{
    margin: 0px;
    font-size: 17px;
    color: rgba(var(--fg-rgb), .8);
}
.contact-card-email-icon{
    filter: invert(1);
    width: 20px;
    padding-left: 7.5px;
    margin: auto;
}
.contact-card-email{
    font-size: 17px;
    margin: 0px;
    font-weight: 400;
    border-right: solid 1.5px rgba(var(--fg-rgb), .5);
    padding-right: 7.5px;
}
.contact-email-field{
    border: solid 1px rgba(var(--fg-rgb), .3);
    display: inline-grid;
    grid-template-columns: max-content max-content;
    /* grid-gap: 10px; */
    padding: 10px 20px;
    border-radius: 999px;
    margin-top: 25px;
    margin-bottom: 20px;
    cursor: pointer;
    text-decoration: none;
    background: linear-gradient(135deg, rgba(var(--c5-rgb), .3) 50%, rgba(255, 255, 255, 0) 50% 100%);
    background-size:300%;
    background-position-x: 100%;
    transition: .3s;
}
.contact-email-field:hover{
    background-position-x: 0%;
}


#footer-bg{
    position: absolute;
    /* top: 100%; */
    left: 0;
    height: 310px;
    width: 100%;
    background: linear-gradient(
        90deg,
        rgba(var(--c1-rgb), .3),
        rgba(var(--c2-rgb), .25),
        rgba(var(--c1-rgb), .3)
    );
    z-index: -1;
}
#footer{
    width: 100%;
    height: calc(310px - 35px);
    /* background: linear-gradient(135deg, black, rgba(255, 255, 255, 0)); */
    padding: 25px 0px;
    padding-bottom: 0px;
}
#footer-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    width: 95%;
    height: 100%;
    grid-column-gap: 15px;
}
#footer-sec1{
    display: grid;
    margin-left: 25px;
    grid-template-rows: max-content max-content 1fr;
}
#footer-title-div{
    display: grid;
    height: fit-content;
    grid-template-columns: max-content max-content;
    grid-gap: 10px;
    margin-bottom: 5px;
    /* margin: 0 auto; */
}
#footer-logo{
    width: 40px;
    margin: auto;
}
#footer-title{
    margin: auto;
    font-size: 30px;
}
#footer-desc{
    text-align: justify;
}
#sm-divs{
    display: grid;
}
#sm-divs-wrapper{    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background: rgba(255, 255, 255, 0.226);
    height: fit-content;
    padding: 10px 0px;
    width: 90%;
    border-radius: 99px;
    margin: auto 0;
}
.sm-btn{
    display: block;
    width: 25px;
    height: 25px;
    margin: auto;
    filter: invert(1);
}
#footer-sec-2-content{
    display: grid;
    grid-template-rows: 40px 1fr;
    grid-row-gap: 10px;
    margin: 0 auto;
    width: fit-content;
}
#footer-links-title, #footer-links-title-alt, #footer-contact-title{
    margin: auto 0;
    font-size: 23px;
}
#footer-links-title-alt{
    display: none;
}
#footer-links{
    margin-left: 25px;
    font-size: 17px;
    display: grid;
}
.footer-link{
    text-decoration: none;
    display: inline-block;
}
.footer-link-text{
    transition: .2s;
    display: inline-block;
    margin: 10px 0px;
}
.footer-link:hover .footer-link-text{
    transform: translateX(15px);
    color: var(--c3);
}

#footer-sec-3-content{
    display: grid;
    grid-template-rows: 47px 1fr;
    width: 90%;
}
#footer-contacts{
    display: grid;
}
.footer-contact{
    display: grid;
    grid-template-columns: 25px 1fr;
    grid-gap: 10px;
    margin-bottom: 15px;
    /* width: 90%; */
    margin: auto 0;
    margin: 10px 0px;
}
.footer-contact-method{
    width: 25px;
    filter: invert(1);
}
.footer-contact-method-content{
    margin: auto 0;
}

#footer-cr-sec{
    display: grid;
    grid-column: span 3;
    text-align: center;
    border-top: solid 1px var(--c2);
    width: 100%;
    margin: 0 auto;
}
#footer-cr-sec p{
    width: 90%;
    padding: 5px 0px;
    padding-top: 0px;
    margin: auto;
}

@keyframes cta-animation{
    0%{
        transform: translateY(-20px);
    }
    50%{
        transform: translateY(10px) scaleY(1.1);
    }
    100%{
        transform: translateY(-20px);
    }
}
@keyframes register-option-slide {
    0%{
        transform: translateY(-150px);
        opacity: 0;
        z-index: -1;
    }
    100%{
        opacity: 1;
    }
}
@keyframes register-option-shrink {
    100%{
        transform: scale(0);
        opacity: 0;
    }
}
@keyframes slide-fade-in{
    0%{
        transform: translateY(50px);
        opacity: 0;
    }
    50%{
        transform: translateY(50px);
        opacity: 0;
    }
}
@keyframes slide-from-left{
    0%{
        opacity: 0;
        transform: translateX(-100vw);
    }
}
@keyframes slide-from-left-2{
    0%{
        transform: translateX(-100vw);
    }
    50%{
        opacity: 0;
        transform: translateX(-100vw);
    }
}
@keyframes slide-from-left-3{
    0%{
        transform: translateX(-100vw);
    }
    66%{
        opacity: 0;
        transform: translateX(-100vw);
    }
}
@keyframes slide-from-top{
    0%{
        transform: translateY(-100vh);
    }
}
@keyframes expand{
    0%{
        transform: scale(0);
    }
}
@keyframes shrink{
    100%{
        transform: scale(0);
    }
}

@media screen and (max-width: 1233px){
    #hero-title{
        font-size: 40px;
        /* margin-top: 10px; */
    }
}
@media screen and (max-width: 1200px){
    #auth-popup{
        width: 37vw;
    }
}
@media screen and (max-width: 1100px){
    #hero-content-wrapper{
        grid-template-rows: 1fr 70px;
    }
    #hero-text{
        margin-bottom: 0px;
    }
    .about-card-title{
        font-size: 23px;
    }
    .abt-card-icon{
        width: 75px;
    }
    .about-text{
        font-size: 16px;
    }
    
}
@media screen and (max-width: 1050px){
    #auth-popup{
        width: 40vw;
    }
}
@media screen and (max-width: 1000px){
    #hero-img{
        width: 90%;
    }
    .contact-card{
        width: 100%;
    }
    .about-card{
        width: 85%;
    }
    .footer-contact-method-content{   
        font-size: 15px;
    }
    #footer-contact-farewell{
        font-size: 15px;
    }
    .footer-link{
        font-size: 15px;
    }
    #footer-desc{
        font-size: 15px;
        margin-bottom: 0px;
    }
    #footer-title, #footer-links-title, #footer-contact-title{
        font-size: 20px;
    }
    #footer-sec-3-content{
        margin: 0 auto;
    }
    #footer-sec1{
        margin-left: 0px;
    }
    #footer-links-title{
        display: none;
    }
    #footer-links-title-alt{
        display: block;
        font-size: 20px;
    }
}
@media screen and (max-width: 950px){
    #about-content{
        width: 97%;
    }
    .contact-card-email{
        font-size: 16px;
    }
    .contact-card-email-icon{
        width: 19px;
    }
    #auth-popup{
        width: 45vw;
    }
}
@media screen and (max-width: 920px){
    #about-content{
        width: 95%;
    }
}
@media screen and (max-width: 900px){
    #hero-title{
        font-size: 37px;
    }
    #hero-text{
        font-size: 15px;
    }
    #navbar{
        grid-template-columns: repeat(7, 1fr);
    }
    .nav-item:nth-child(2){
        grid-column: 3;
    }
    .nav-item:nth-child(3){
        grid-column: 4;
    }
    .nav-item:nth-child(4){
        grid-column: 5;
    }
    .nav-item:nth-child(5){
        grid-column: 6;
    }
    .nav-item:nth-child(6){
        grid-column: 7;
    }
    .contact-card-name{
        font-size: 20px;
    }
    .contact-card-post{
        font-size: 15px;
    }
    .contact-card-email{
        font-size: 15px;
    }
    .contact-email-field{
        padding: 9px 15px;
    }
    #contact-cards{
        grid-gap: 5px;
    }
    .about-card-title{
        font-size: 21.5px;
    }
    #footer-content{
        grid-template-columns: 1fr max-content 1fr;
        grid-column-gap: 25px;
    }
}
@media screen and (max-width: 850px){
    #hero-title{
        font-size: 35px;
    }
    #contact-cards{
        grid-template-columns: repeat(2, 1fr);
        height: auto;
    }
    #contact{
        margin-bottom: 20px;
    }
    .about-card-title{
        font-size: 20px;
    }
    .about-text{
        font-size: 15px;
    }
    #auth-popup{
        width: 50vw;
    }
}
@media screen and (max-width: 800px){
    #hero-content-wrapper{
        grid-template-rows: max-content 80px;
        margin: auto;
        height: fit-content;
    }
    #hero-content{
        padding: 20px 0px;
    }
    #hero-title{
        font-size: 30px;
    }
    #hero-img{
        width: 100%;
    }
    #cta-btn{
        width: 35px;
        height: 35px;
    }
    #hero-logo-div{
        border-width: 2px;
        padding: 6px 12px;
    }
    #hero-logo{
        width: 22px;
        margin: auto;
        display: block;
    }
    #hero-logo-title{
        font-size: 17px;
        margin: auto;
        font-weight: 700;
    }
    #about-content{
        width: 97%;
    }
    .about-card{
        width: 90%;
        padding: 25px 15px;
    }
}
@media screen and (max-width: 750px){
    #about-content{
        grid-template-columns: repeat(4, .5fr);
        grid-gap: 12px;
        grid-column-gap: 0px;
    }
    .about-text{
        grid-column: 2;
        grid-row-start: 1;
        margin: auto;
        text-align: left;
        font-size: 15px;
        display: none;
    }
    .about-card{
        padding: 10px;
        padding-top: 22px;
        padding-bottom: 8px;
        grid-column: span 2;
    }
    .about-card:nth-of-type(3){
        grid-column: 2 / 4;
    }
    .about-card-title{
        font-size: 20px;
        margin: 15px;
    }
    .about-text:nth-of-type(2){
        grid-row: 2;
    }
    .about-text:nth-of-type(3){
        grid-row: 3;
    }
    #auth-popup{
        width: 58vw;
    }
}
@media screen and (max-width: 700px){
    #footer-bg{
        height: 480px;
    }
    #footer-content{
        grid-template-columns: 0.7fr 1.3fr;
    }
    #footer-sec1{
        grid-column: span 2;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 15px;
    }
    #footer-desc{
        margin-bottom: 15px;
    }
    #sm-divs-wrapper{
        text-align: center;
        margin: 0 auto;
        /* width: 80%; */
    }
    #footer-cr-sec{
        grid-column: span 2;
        margin-top: 15px;
    }
    #footer-cr-sec p{
        margin-top: 10px;
    }
    #footer-sec-3-content{
        grid-template-rows: 40px 1fr;
        grid-row-gap: 0px;
    }
    #footer-sec-2-content{
        grid-row-gap: 0px;
    }
    #login-btn, #register-btn{
        display: none;
    }
    #login-icon-btn, #register-icon-btn{
        display: block;
    }
}
@media screen and (max-width: 650px){
    #about-content{
        grid-row-gap: 9px;
    }
    #auth-popup{
        width: 68vw;
    }
}
@media screen and (max-width: 600px){
    #contact-content-div{
        grid-template-rows: 1fr;
    }
    #contact-title-div{
        margin-bottom: 10px;
    }
    #contact-cards{
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
    }
    .contact-card{
        width: 60%;
    }
    #footer-bg{
        height: 500px;
    }
}
@media screen and (max-width: 550px){
    #about{
        height: auto;
        margin-bottom: 25px;
        padding-top: 25px;
    }
    #about-content{
        grid-template-columns: 1fr;
        grid-row-gap: 15px;
    }
    .about-card{
        width: 80%;
        grid-column: 1;
    }
    .about-card:nth-of-type(3){
        grid-column: 1;
    }
    #auth-popup{
        width: 78vw;
    }
}
@media screen and (max-width: 500px){
    #auth-popup{
        width: 88vw;
    }
    #nav-title{
        display: none;
    }
    #navbar{
        grid-template-columns: max-content repeat(5, 1fr);
    }
    .nav-item:nth-child(2){
        grid-column: 2;
    }
    .nav-item:nth-child(3){
        grid-column: 3;
    }
    .nav-item:nth-child(4){
        grid-column: 4;
    }
    .nav-item:nth-child(5){
        grid-column: 5;
    }
    .nav-item:nth-child(6){
        grid-column: 6;
    }
}
@media screen and (max-width: 470px){
    #footer-bg{
        height: 530px;
    }
    #footer-cr-sec{
        width: 95%;
    }
    #footer-cr-sec p{
        font-size: 14px;
    }
}
@media screen and (max-width: 400px){
    #footer-bg{
        height: 550px;
    }
    #footer-cr-sec{
        width: 95%;
    }
    #footer-cr-sec p{
        font-size: 14px;
    }
}
